/* styles.css */

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; /* Light blue background color */
    color: #333; /* Text color */
    margin: 0;
}

/* Header styling */
header {
    background-color: #3498db; /* Complementary color for header */
    color: #fff; /* Text color for header */
    padding: 10px;
    text-align: center;
}

/* Main content styling */
.main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White background for main content */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
}

/* Button style */
.button {
    background-color: #3498db; /* Light blue background color */
    color: #ffffff; /* White text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer;
}

/* Hover effect */
.button:hover {
    background-color: #2980b9; /* Darker blue background color on hover */
}

/* Link button style */
.button-link {
    display: inline-block;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    background-color: #3498db; /* Light blue background color */
    color: #ffffff; /* White text color */
    border-radius: 5px; /* Add rounded corners */
    border: none;
    cursor: pointer;
}

/* Hover effect */
.button-link:hover {
    background-color: #2980b9; /* Darker blue background color on hover */
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between items */
}

.image-item {
    flex: 1 0 45%; /* Adjust the width of each column and the space between items */
    margin-bottom: 20px;
}

.delete-button {
    display: block;
    margin-top: 10px;
    background-color: #e74c3c; /* Red background color for delete buttons */
    color: #ffffff; /* White text color */
    border-radius: 5px; /* Add rounded corners */
    border: none;
    cursor: pointer;
}

/* Hover effect for delete buttons */
.delete-button:hover {
    background-color: #c0392b;
    color: #ffffff;
}

.account-tab {
    margin-left: auto; /* Pushes the Account tab to the right */
}