@{
    ViewBag.Title = "Activity Log";
}
<div><h2>Activity Log</h2><br /></div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Status </th>
        <th>Date </th>
        <th>Time</th>
    </tr>
    <tr>
        <td>Access Denied</td>
        <td>22-05-2023</td>
        <td>22:30</td>
    </tr>
    <tr>
        <td>Access Granted</td>
        <td>22-05-2023</td>
        <td>22:15</td>
    </tr>
    <tr>
        <td>Access Granted</td>
        <td>22-05-2023</td>
        <td>22:05</td>
    </tr>
    <tr>
        <td>Access Granted</td>
        <td>22-05-2023</td>
        <td>21:30</td>
    </tr>
    <tr>
        <td>Access Granted</td>
        <td>22-05-2023</td>
        <td>21:00</td>
    </tr>
    <tr>
        <td>Access Granted</td>
        <td>22-05-2023</td>
        <td>3:57</td>
    </tr>
    <tr>
        <td>Access Granted</td>
        <td>22-05-2023</td>
        <td>2:03</td>
    </tr>
    <tr>
        <td>Access Denied</td>
        <td>22-05-2023</td>
        <td>2:00</td>
    </tr>
    <tr>
        <td>Access Granted</td>
        <td>22-05-2023</td>
        <td>12:46</td>
    </tr>
    <tr>
        <td>Access Granted</td>
        <td>22-05-2023</td>
        <td>12:15</td>
    </tr>
    <tr>
        <td>Access Denied</td>
        <td>22-05-2023</td>
        <td>9:00</td>
    </tr>
</table> 