@model List<ActivityViewModel>
@{
    ViewBag.Title = "Activity Log";
}
<div><h2>Activity Log</h2><br /></div>
@{ if (Model == null || Model.Count == 0)
{
        <h6>No log to display</h6>
} else {

        <table class="table table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>Status </th>
                    <th>Member</th>
                    <th>Date </th>
                    <th>Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{ foreach (var log in Model)
                    {
                        <tr>
                            @{ if (log.Status == LogStatus.AccessGranted) {<td>Access Granted</td>} else {<td>Access Denied</td> } }
                            <td>@log.MemberName</td>
                            <td>@DateOnly.FromDateTime(log.AccessTime)</td>
                            <td>@TimeOnly.FromDateTime(log.AccessTime)</td>
                            <td><a href="@Url.Action("DeleteLog", new { logId = log.Id })"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    }
                }
            </tbody>
        </table> 
}   
}
